* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-attachment: fixed;
  background-color: rgb(0, 0, 0);
}
.navbar {
  width: 87%;
  margin: 0 auto;
  margin-top: 50px;
  font-size: 10px;

  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.logo1 {
  flex-grow: 1;
  justify-self: left;
  width: 45px;
}
a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #f8f7f1;
  font-size: 18px;
  align-items: center;
  padding: 30px;
}
.bloque1 {
  height: 510px;
}
.presentacionIlustracion {
  text-align: center;
}
.tituloIlustracion {
  font-family: "Bebas Neue", cursive;
  color: rgb(255, 251, 246);
  font-size: 90px;
  padding: 0, 7%;
  height: 5%;
  line-height: 98%;
  word-spacing: 5px;
  letter-spacing: 2px;
}
.ira {
  width: 500px;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  color: rgb(255, 255, 255);
  padding: 12px;
  border: solid #e0f1d8 3px;
  border-radius: 50px;
  background-color: rgb(0, 142, 144, 0.6);
}
.bloque2 {
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.flechaAbajo {
  width: 90px;
  padding: 20px;
}
.bloque3 {
  height: 30px;
}
.contendiopagina {
  background-color: #fff8f0;
  padding: 3%;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.stickerdata {
  width: 50%;
  margin: auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1f 1f;
  gap: 20px;
  grid-template-areas:
    "a b"
    "cd cd";
}
.cd {
  grid-area: cd;
}
h1 {
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  color: #00504d;
  font-size: 17px;
  padding: 1rem;
}
p {
  padding: 5px;
}
footer {
  background-color: #706a63;
  padding: 2%;
  text-align: center;
}
.agradecimiento {
  font-family: "Roboto", sans-serif;
  color: #363534;
  font-size: 16px;
}
.redes {
  list-style: none;
  padding: 12px;
}
li {
  display: inline-block;
  font-size: 1rem;
  margin: 3px 2px;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .fondo {
    background-attachment: fixed;
  }
  .stickerdata {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "a"
      "b"
      "cd";
    margin: 3px;
    width: auto;
  }
  .bloque1 {
    height: 450px;
  }
  .tituloIlustracion {
    font-size: 75px;
    padding: 6%;
  }
  .bloque2 {
    height: 120px;
  }
  .bloque3 {
    height: 50px;
  }
  footer {
    padding: 4%;
  }
  li {
    font-size: 5px;
  }
}
