* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-attachment: fixed;
  background-color: #000000;
}

body .navbar {
  width: 87%;
  margin: 0 auto;
  margin-top: 50px;
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .logo1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-grid-column-align: left;
      justify-self: left;
  width: 45px;
}

body a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #f8f7f1;
  font-size: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
}

body .anavbar:hover {
  color: #363534;
}

body .navbar-brand:hover {
  opacity: 85%;
}

.bloque1 {
  height: 490px;
}

.bloque1b {
  height: 520px;
}

.presentacionIlustracion {
  text-align: center;
}

.presentacionIlustracion .tituloIlustracion {
  font-family: "Bebas Neue", cursive;
  color: #f8f7f1;
  font-size: 90px;
  padding: 1%;
  height: 5%;
  line-height: 98%;
  word-spacing: 5px;
  letter-spacing: 2px;
}

.presentacionIlustracion .ira {
  width: 500px;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  color: white;
  padding: 14px;
  border: solid #e0f1d8 3px;
  border-radius: 50px;
  background-color: #008e9099;
}

.presentacionIlustracion .ira:hover {
  background-color: #000000;
}

.bloque2 {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.bloque2b {
  height: 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.flechaAbajo {
  width: 90px;
  padding: 20px;
}

.bloque3 {
  height: 30px;
}

.contendiopagina {
  background-color: #fff8f0;
  padding: 3%;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.contendiopagina .stickerdata {
  width: 910px;
  margin: auto;
  font-family: "Roboto", sans-serif;
}

.contendiopagina h1 {
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  color: #00504d;
  font-size: 30px;
  padding: 1rem;
}

.contendiopagina .card-title {
  font-family: "Roboto", sans-serif;
  color: #00504d;
  font-size: 30px;
}

.contendiopagina p {
  color: #706a63;
}

footer {
  background-color: #706a63;
  padding: 2%;
  text-align: center;
}

footer .agradecimiento {
  font-family: "Roboto", sans-serif;
  color: #363534;
  font-size: 14px;
}

footer .redes {
  list-style: none;
  padding: 12px;
}

footer li {
  display: inline-block;
  font-size: 1rem;
  margin: 3px 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .aredes {
  padding: 1rem;
}

footer .aredes:hover {
  opacity: 70%;
}

@media screen and (max-width: 768px) {
  .fondo {
    background-attachment: center;
  }
  .bk {
    background-position: center;
  }
  .stickerdata {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "a" "b" "cd";
    margin: 3px;
    width: auto;
  }
  .bloque1 {
    height: 400px;
  }
  .tituloIlustracion {
    padding: 1%;
  }
  .bloque2 {
    height: 120px;
  }
  .bloque3 {
    height: 50px;
  }
  .contendiopagina .stickerdata {
    width: auto;
  }
  .stickerdragon {
    width: 300px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .complete {
    width: 300px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  footer {
    padding: 4%;
  }
  li {
    font-size: 5px;
  }
}
/*# sourceMappingURL=estilo.css.map */